<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chen.nxp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeDemo"
        android:name="com.zthl.nxp.MyApplication"
        >



        <activity android:name="com.zthl.nxp.ui.AutomaticBarcodeActivity"></activity>
        <activity android:name="com.zthl.nxp.MainActivity"
            >
        </activity>
        <activity
            android:name="com.zthl.nxp.ui.login.LoginActivity"
            android:theme="@style/ThemeDemo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


    <uses-permission android:name="com.honeywell.decode.permission.DECODE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>